html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  padding: 0 1em 1em 1em;
}

.site-header {
  text-align: center;

  margin: 2em 0;
}

.site-nav a:visited {
  color: blue; 
}

.site-nav ul {
  list-style: none;
  padding: 0;
}

.site-nav li {
  display: inline;
}

.site-nav li:after {
  content: '| ';
}

.site-nav li:last-child:after {
  content: '';
}

.profile {
  display: block;

  width: 200px;
  height: 200px;
  margin: 0 auto;

  border-radius: 50%;
}

.post img {
  max-width: 100%;
}

.post-nav {
  display: table;
  width: 100%;
}

.post-nav-previous {
  display: table-cell;
  text-align: left;
}

.post-nav-next {
  display: table-cell;
  text-align: right;
}

.site-footer {
  text-align: center;
  font-size: 0.8rem;

  margin: 1rem 0;
}